.welcome {
    text-align: center;
    padding: 40px 10px;
}

.welcome h1 {
    font-size: 40px;
}

.link-input-container {
    width: 80vw;
    min-width: 330px;
    max-width: 500px;
}

#link-input {
    text-align: center;
}

#take-button,
#historical-button {
    margin-top:10px;
    width: 100%
}

#configure-container .ant-time-picker,
#configure-container .ant-input-number {
    width: 100%;
    margin: 5px 0px;
}

#configure-container .ant-input-number .ant-input-number-input-wrap {
    border-radius: 4px;
}

#configure-container input {
    text-align: center;
}
