.test-nav-buttons {
    width: 100%;
    text-align: center;
}

.test-nav-buttons button {
    width: 50%
}

.side-menu {
    height: 100vh;
    overflow: auto;
}

.focus-layout {
    max-height: 100vh;
    height: 100vh;
}

.focus-container {
    padding: 10px
}

.focus-layout .ant-layout-content {
    overflow: auto;
}

.test-question img {
    padding: 10px 0px;
    max-width: 90vw;
}

.test-question {
    padding-bottom: 20px;
}

.answers-group {
    max-width: 100%;
}

.answers-group label {
    display: block;
    padding: 5px 0px;
}

.answers-group label span:not(.ant-radio) {
    max-width: 100%;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
}

#focus-header {
    padding: 0px 5px;
}

.timer-container {
    height: 100%;
    float: right;
}

.focus-choices-container .ant-checkbox-group {
    display: grid;
}

.focus-choices-container .ant-checkbox-group label {
    padding: 10px 0px;
}

#submit-test-btn,
#home-btn {
    width: 100%;
    margin-bottom: 10px;
}

.ant-menu-item.answered {
    background-color: #e6f7ff !important;
}

.ant-menu-item.incorrect {
    background-color: #f1a3a3 !important;
}

.ant-menu-item.correct {
    background-color: #abeea2 !important;
}

.ant-menu-item.ant-menu-item-selected {
    border-bottom: 1px solid black;
    font-weight: bolder;
}

.test-answer {
    margin-top: 40px;
}
